<!DOCTYPE html>
<html>
<head>
  <title>EventPlanner</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/moment.min.js"></script>
  <script src="js/create.js"></script>
  <style>
  /* Note: Try to remove the following lines to see the effect of CSS positioning */
  .affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
  <ul class="nav navbar-nav">
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/about_us">About Us</a></li>
    <li><a href="#">Log In</a></li>
    <li><a href="#">Sign Up</a></li>
  </ul>
</nav>
    <div class="div_position">
      <h3 class="text-muted">EventPlanner</h3>
          <br>
        <!--<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">-->
          <!--<ul class="nav navbar-nav">-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            <li ><a href="/create" >1. General</a></li>
            <li class="disabled"><a href="/invitation" >2. Invitation</a></li>
            <li class="disabled"><a href="/splitting" >3. Budget Splitting</a></li>
          </ul>
        </div>
      <form class="div_position" action="/save_general" method="post">
          <strong>Event Name:</strong><br>
          <input id="event_name" type="text" name="eventname" class="create_text" value="" >
          <br><br>
          <strong>Event Location:</strong><br>
          <input id="event_location" type="text" name="eventlocation" class="create_text" value="">
          <br><br>
          <strong>Date Proposal:</strong><br>
          <input id="event_date" type="date" name="event_date" min="2016-09-01">
          <br><br>
          <strong>Start Time:</strong><br>
          <input id="event_start_time" type="time" name="eventstarttime">
          <br><br>
          <strong>End Time:</strong><br>
          <input id="event_end_time" type="time" name="eventendtime">
          <br><br>
          <strong>Event Description:</strong><br>
          <input id="event_description" type="text" name="eventdescription" style="width: 250px; height: 70px" value="">
          <br><br>
          <strong>Your Name:</strong><br>
          <input id="username" type="text" name="username" class="create_text" value="" >
          <br><br>
          <strong>Your Email:</strong><br>
          <input id="email" type="text" name="user_email" class="create_text" value="" >
          <br><br>
          <!--<input  type="button" class = "button" value="Previous">-->
          <input type="submit" class = "button" value="Next">
          <input type="reset" class = "button">
      </form>
    </div>



</body>
</html>