<!DOCTYPE html>
<html>
<head>
  <title>EventPlanner</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  /* Note: Try to remove the following lines to see the effect of CSS positioning */
  .affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
  <ul class="nav navbar-nav">
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/about_us">About Us</a></li>
    <li><a href="#">Log In</a></li>
    <li><a href="#">Sign Up</a></li>
  </ul>
</nav>
<div class="div_position">
  <h3 class="text-muted">EventPlanner</h3>

  <div class="jumbotron">
    <h2> Please Select your time proposal</h2>
    <br>
    <p><a class="btn btn-lg btn-success" href="{{ url_for('create')}}" role="button">Schedule for an event</a></p>
  </div>
</div>




</body>
</html>