<!DOCTYPE html>
<html>
<head>
  <title>EventPlanner</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="../static/js/create.js"></script>
  <style>
  </style>
</head>
<body>

<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
  <ul class="nav navbar-nav">
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/about_us">About Us</a></li>
    <li><a href="#">Log In</a></li>
    <li><a href="#">Sign Up</a></li>
  </ul>
</nav>
    <div class="div_position">
      <h3 class="text-muted">EventPlanner</h3>
          <br>
        <!--<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">-->
          <!--<ul class="nav navbar-nav">-->
        <form class="div_position" action="/bill_data" method="post">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            <li ><a href="/create" >1. General</a></li>
            <li ><a href="/invitation" >2. Invitation</a></li>
            <li ><a href="/split_budget" >3. Budget Splitting</a></li>
          </ul>
        </div>
        <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"></span>
              <input type="text" class="form-control" placeholder="First Name Last Name" aria-describedby="basic-addon1">
        </div>
        <br>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">@example.com</span>
        </div>
        <br>
        <div class="input-group">
              <span class="input-group-addon">#Participants</span>
              <input type="text" placeholder="First Name Last Name" class="form-control" aria-label="Number of people">
        </div>
          <br>
        <br>
        <div class="input-group">
          <span class="input-group-addon">$/Person</span>
          <span class="input-group-addon">0.00</span>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        </div>
            <br><br>
        <input type="submit" class="button" value="Next">
        <input type="reset" class="button">
        <!--<form class="div_position" action="https://www.paypal.com/cgi-bin/webscr" method="post">-->

          <!--&lt;!&ndash; Saved buttons use the "secure click" command &ndash;&gt;-->
          <!--<input type="hidden" name="cmd" value="_s-xclick">-->

          <!--&lt;!&ndash; Saved buttons are identified by their button IDs &ndash;&gt;-->
          <!--<input type="hidden" name="hosted_button_id" value="221">-->

          <!--&lt;!&ndash; Saved buttons display an appropriate button image. &ndash;&gt;-->
          <!--<input type="image" name="submit"-->
            <!--src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"-->
            <!--alt="PayPal - The safer, easier way to pay online">-->
          <!--<img alt="" width="1" height="1"-->
            <!--src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >-->

        <!--</form>-->
    </form>
    </div>


</body>
</html>