<!DOCTYPE html>
<html>
<head>
  <title>EventPlanner</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/moment.min.js"></script>
  <script src="js/create.js"></script>
  <style>
  /* Note: Try to remove the following lines to see the effect of CSS positioning */
  .affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
  <ul class="nav navbar-nav">
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/about_us">About Us</a></li>
    <li><a href="#">Log In</a></li>
    <li><a href="#">Sign Up</a></li>
  </ul>
</nav>
    <div class="div_position">
      <h3 class="text-muted">EventPlanner</h3>
          <br>
        <!--<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">-->
          <!--<ul class="nav navbar-nav">-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            <li ><a href="/create" >1. General</a></li>
            <li ><a href="/invitation" >2. Invitation</a></li>
            <li ><a href="/split_budget" >3. Budget Splitting</a></li>
          </ul>
        </div>
      <form class="div_position" action="/split_budget" method="post">


          <input type="submit" class = "button" value="Next">
          <input type="reset" class = "button">
      </form>
    </div>

    <!--<br><br>-->
    <!--<footer class="footer">-->
        <!--<p>© 2016 EventPlanner, Inc.</p>-->
    <!--</footer>-->


</body>
</html>